@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand:wght@300..700&family=Rubik+Mono+One&display=swap');

* {
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
}

.box1 {
    width: 600px;
    border: 2px solid red;
    position: relative;
}

.box2 {
    width: 600px;
    border: 2px solid red;
}

.box3 {
    width: 600px;
    border: 2px solid red;
}

.box4 {
    width: 600px;
    border: 2px solid red;
}