* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    padding: 30px;
    border: 1px solid blue;
    border-radius: 20px;
    position: relative;
}

.container p {
    font-size: 15px;
    margin-top: 10px;
}

.container::before {
    content: "";
    height: 13px;
    width: 13px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -10%;
}

.container::after {
    content: "";
    height: 80%;
    width: 2px;
    background: blue;
    position: absolute;
    top: 5%;
    left: -8%;
}